<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TaskErrorsMapper">
	
	<sql id="errorsInfo">
		taskExecuteRecordId,errorKey,errorValue,createTime,lastModifyTime
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhongxin.quartz.entity.TaskErrorsEntity" >
		insert into quartz_task_errors
		(
			<include refid="errorsInfo"/>
		) 
		values
		(
			#{taskExecuteRecordId},
			#{errorKey},
			#{errorValue},
			#{createTime},
			#{lastModifyTime}
		)
	</insert>
	
	<select id="selectByTaskExecuteRecordId" parameterType="String" resultType="HashMap">
		select
			errorKey,
			errorValue
		from
			quartz_task_errors
		where
			taskExecuteRecordId = #{recordId}
	</select>
	
</mapper>
