html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#fff;}body{font-family:"Microsoft YaHei";font-size:12px;color:#333;line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{text-decoration:none;background-color:transparent;}a:hover{text-decoration:underline;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}h1,h2,h3,h4,h5,h6,strong,b{font-size:100%;font-weight:bold;}h4,h5,h6{font-weight:normal;}ol,ul{list-style:none;}li{list-style:none;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;outline:none;margin:0;padding:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:700;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}q,blockquote{quotes:none;}q:before,q:after,blockquote:before,blockquote:after{content:".";content:none;}::-webkit-selection{color:#fff;background-color:#f6796a;}::-moz-selection{color:#fff;background-color:#f6796a;}::selection{color:#fff;background-color:#f6796a;}.f-fl{float:left !important;}.f-fr{float:right !important;}.f-fn{float:none !important;}.f-cf:before,.f-cf:after,.f-cf-bf:before,.f-cf-af:after,.f-cb{height:0;content:".";font-size:0;line-height:0;display:block;overflow:hidden;clear:both;}.f-tal{text-align:left !important;}.f-tac{text-align:center !important;}.f-tar{text-align:right !important;}.f-vam{vertical-align:middle !important;}.f-dn{display:none !important;}.f-di{display:inline !important;}.f-db{display:block !important;}.f-dib{display:inline-block !important;}.f-oh{overflow:hidden !important;}.f-pr{position:relative !important;}.f-ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.f-break{word-break:break-all;word-wrap:break-word;}.f-wma{width:1200px;margin:0 auto;}.f-wma:before,.f-wma:after{height:0;content:".";font-size:0;line-height:0;display:block;overflow:hidden;clear:both;}
.f-wma-2{width:980px;}
.f-fs-12{font-size:12px !important;}
.f-fs-14{font-size:14px !important;}
.f-fs-16{font-size:16px !important;}
.f-fs-18{font-size:18px !important;}
.f-fs-20{font-size:20px !important;}
.f-fs-24{font-size:24px !important;}
.f-fs-36{font-size:36px !important;}
.f-fc-333{color:#333 !important;}
.f-fc-666{color:#666 !important;}
.f-fc-999{color:#999 !important;}
.f-fc-ee1d23{color:#ee1d23 !important;}
.f-fc-71d46a{color:#71d46a !important;}
.f-fc-ff4f2c{color:#ff4f2c !important;}
.f-fc-ff7805{color:#ff7805 !important;}
.f-fc-5ea6e4{color:#5ea6e4 !important;}
.f-bg-f5f5f5{background:#f5f5f5 !important;}
.f-bg-f8f8f8{background:#f8f8f8 !important;}
.f-mt-10{margin-top:10px !important;}
.f-mt-20{margin-top:20px !important;}
.f-mt-30{margin-top:30px !important;}
.f-mt-40{margin-top:40px !important;}
.f-mt-50{margin-top:50px !important;}
.f-mt-60{margin-top:60px !important;}
.f-mt-70{margin-top:70px !important;}
.f-mt-80{margin-top:80px !important;}
.f-mt-90{margin-top:80px !important;}
.f-mt-100{margin-top:80px !important;}
.f-mb-10{margin-bottom:10px !important;}
.f-mb-20{margin-bottom:20px !important;}
.f-mb-30{margin-bottom:30px !important;}
.f-mb-40{margin-bottom:40px !important;}
.f-mb-50{margin-bottom:50px !important;}
.f-mb-60{margin-bottom:60px !important;}
.f-mb-70{margin-bottom:70px !important;}
.f-mb-80{margin-bottom:80px !important;}
.f-mb-90{margin-bottom:90px !important;}
.f-mb-100{margin-bottom:100px !important;}
.page-header-border{border-bottom:3px solid #ee1d23;}
.page-header{position:relative;z-index:2;}
.page-header .logo{float:left;margin-top:20px;}
.page-header .logo img{display:block;height:48px;}
.page-header .nav{float:left;margin-left:120px;}
.page-header .nav li{float:left;margin-left:40px;}
.page-header .nav li a{display:block;width:102px;height:88px;color:#333;text-align:center;text-decoration:none;font-size:16px;line-height:88px;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.page-header .nav li a:hover{background:#f5f5f5;color:#e8412f;}
.page-header .nav li a.z-active{background:#f5f5f5;color:#ee1d23;}
.page-header .account{position:relative;float:right;width:120px;height:88px;}
.page-header .account h3{font-weight:normal;}
.page-header .account h3 a{display:block;font-size:16px;color:#333;line-height:88px;text-align:center;-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear;
}
.page-header .account h3 a:hover{color:#ee1d23;text-decoration:none;}
.page-header .account h3 a:after{display:inline-block;margin-top:44px;margin-left:8px;width:8px;height:4px;overflow:hidden;background:url(../img/arrow_down4.png) 0 0 no-repeat;content:".";font-size:0;line-height:0;vertical-align:top;}
.page-header .account:hover h3 a{color:#ee1d23;}
.page-header .account:hover h3 a:after{background-image:url(../img/arrow_up_2.png);}
.page-header .account ul{display:none;position:absolute;left:50%;top:88px;margin-left:-60px;width:118px;border:1px solid #c4c4c4;background:#fff;}
.page-header .account:hover ul{display:block;}
.page-header .account ul:after{position:absolute;left:50%;top:-10px;margin-left:-7px;width:15px;height:10px;overflow:hidden;background:url(../img/arrow_up_3.png) 0 0 no-repeat;content:".";font-size:0;line-height:0;}
.page-header .account ul li{border-bottom:1px dotted #c4c4c4;}
.page-header .account ul li:last-child{border-bottom:none;}
.page-header .account ul li a{display:block;padding:8px;font-size:14px;color:#666;line-height:24px;text-align:center;-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear;
}
.page-header .account ul li a:hover{text-decoration:none;color:#e9412d;}
.page-header .user{float:right;font-size:16px;line-height:88px;text-align:center;}
.page-header .user span{color:#ccc;margin:0 16px;}
.page-header .user a{color:#666;}
.page-header .user .register{color:#e9412d;}
.page-footer{padding:24px 0 32px;background:#3e3a3a;}
.page-footer .main{float:left;width:882px;}
.page-footer .side{float:right;width:286px;}
.page-footer .flink{font-size:14px;line-height:24px;}
.page-footer .flink dt{float:left;color:#fff;}
.page-footer .flink dd{margin-left:56px;word-wrap:break-word;line-height:24px;word-break:normal;}
.page-footer .flink dd a{float:left;margin-left:32px;color:#999;white-space:nowrap;font-size:14px;}
.page-footer .nav{margin-top:44px;color:#999;font-size:14px;line-height:24px;}
.page-footer .nav a{color:#fff;}
.page-footer .corpright{margin-top:8px;color:#999;line-height:24px;}
.page-footer .contact{float:left;margin-top:44px;color:#999;font-size:14px;line-height:24px;}
.page-footer .contact dl{margin-top:16px;font-size:14px;line-height:24px;}
.page-footer .contact dl dt{float:left;width:56px;color:#fff;text-align:right;}
.page-footer .contact dl dd{margin-left:64px;}
.page-footer .qrcode{float:right;}
.page-footer .qrcode dt{color:#999;text-align:center;line-height:24px;}
.page-footer .qrcode dd{overflow:hidden;margin-top:4px;}
.page-footer .qrcode dd img{display:block;width:96px;height:96px;}
.page-container{min-height:500px;}
.page-container:before,
.page-container:after{height:0;content:".";font-size:0;line-height:0;display:block;overflow:hidden;clear:both;}
.fixed-nav{position:fixed;top:50%;right:0;margin-top:-76px;width:48px;}
.fixed-nav .item{position:relative;margin:2px 0;width:48px;height:48px;-webkit-transition:all .2s linear;transition:all .2s linear;}
.fixed-nav .item .icon{position:absolute;left:50%;top:50%;z-index:2;margin-left:-24px;margin-top:-24px;display:block;width:48px;height:48px;background-color:#f6796a;background-image:url(../img/icon_fixed_nav.png);background-position:-9999px -9999px;background-repeat:no-repeat;}
.fixed-nav .item:hover .icon{background-color:#ee1d23;}
.fixed-nav .item-qrcode .icon{background-position:0 0;}
.fixed-nav .item-qrcode .qrcode{position:absolute;right:48px;bottom:0;z-index:1;padding:10px 10px 3px;width:auto;height:auto;border:1px solid #f5f5f5;background-color:#fff;opacity:0;filter:alpha(opacity=0);box-shadow:0 0 2px rgba(0, 0, 0, .08);-webkit-transition:all .2s linear;transition:all .2s linear;-webkit-transform:scale(0);transform:scale(0);transform-origin:100% 100%;}
.fixed-nav .item-qrcode .qrcode li{float:left;font-size:14px;color:#ee1d23;line-height:24px;text-align:center;white-space:nowrap;}
.fixed-nav .item-qrcode .qrcode img{display:block;width:96px;height:96px;}
.fixed-nav .item-qrcode:hover .qrcode{right:56px;opacity:1;filter:alpha(opacity=100);-webkit-transform:scale(1);transform:scale(1);}
.fixed-nav .item-kefu .icon{background-position:0 -48px;}
.fixed-nav .item-kefu .tel{position:absolute;right:48px;bottom:0;z-index:1;padding:3px 10px;width:136px;height:40px;border:1px solid #f5f5f5;background-color:#fff;font-size:20px;color:#ee1d23;line-height:40px;white-space:nowrap;opacity:0;filter:alpha(opacity=0);box-shadow:0 0 2px rgba(0, 0, 0, .08);-webkit-transition:all .2s linear;transition:all .2s linear;-webkit-transform:scale(0);transform:scale(0);transform-origin:100% 50%;}
.fixed-nav .item-kefu:hover .tel{right:56px;opacity:1;filter:alpha(opacity=100);-webkit-transform:scale(1);transform:scale(1);}
.fixed-nav .item-top{cursor:pointer;}
.fixed-nav .item-top .icon{background-position:0 -96px;}
.layer-reserve{position:relative;z-index:9000;display:none;width:440px;background:#fff;border-radius:8px;}
.layer-reserve > .close{position:absolute;right:-32px;top:-32px;width:32px;height:32px;background:url(../img/icon_close.png) center center no-repeat;cursor:pointer;}
.layer-reserve > .title{padding:12px 16px;background:#f3f3f3;font-size:16px;font-weight:normal;line-height:24px;border-radius:8px 8px 0 0;}
.layer-reserve > .content{position:relative;padding:20px 16px 48px;border-radius:0 0 8px 8px;}
.layer-reserve .alert{padding:12px 16px;border:1px solid #faf0d8;background:#ffffe0;font-size:14px;color:#a2742c;line-height:20px;border-radius:4px;}
.form-reserve{margin-left:54px;width:300px;}
.form-reserve .item{margin-top:20px;}
.form-reserve .info{position:relative;}
.form-reserve .u-text{position:relative;display:inline-block;vertical-align:middle;}
.form-reserve .u-text input{padding:7px 11px;width:276px;height:24px;border:1px solid #bdbdbd;font-size:14px;line-height:24px;}
.form-reserve .u-text input.z-error{border-color:#ee1d23;}
.form-reserve .u-text input:focus{border-color:#27b6a0;}
.form-reserve .u-text label{position:absolute;left:0;top:0;z-index:0;margin-left:12px;margin-top:8px;background:#fff;font-size:14px;color:#999;line-height:24px;cursor:text;}
.form-reserve .u-text span{position:absolute;right:0;top:0;margin-top:8px;margin-right:12px;font-size:14px;color:#999;line-height:24px;}
.form-reserve .u-tips{position:absolute;left:0;top:40px;display:none;font-size:12px;color:#ee1d23;line-height:20px;}
.form-reserve .u-button{display:inline-block;width:300px;height:40px;border:1px solid #e9412d;background:#e9412d;color:#fff;font-size:14px;line-height:38px;text-align:center;vertical-align:top;border-radius:4px;-webkit-transition:all .2s linear;transition:all .2s linear;}
.form-reserve .u-button:hover{background-color:#ee1d23;text-decoration:none;}
.form-reserve .u-button.z-disabled{border:1px solid #c8c8c8;background:#c8c8c8;}
.layer-reserve .result{position:absolute;left:50%;top:50%;margin-left:-121px;margin-top:-36px;padding:20px;display:none;width:200px;height:50px;border:1px solid #dcdcdc;background:#fff;box-shadow:0 0 8px rgba(0, 0, 0, .2);}
.layer-reserve .result .icon{float:left;width:50px;height:50px;display:inline-block;background:url(../img/icon_result_success.png) 0 0 no-repeat;}
.layer-reserve .result .content{margin-left:58px;font-size:16px;line-height:50px;}
.layer-imgcode{position:relative;z-index:9000;display:none;width:450px;background:#fff;border-radius:8px;}
.layer-imgcode > .close{position:absolute;right:-32px;top:-32px;width:32px;height:32px;background:url(../img/icon_close.png) center center no-repeat;cursor:pointer;}
.layer-imgcode > .content{padding:10px 30px 36px;border-radius:8px;}
.form-imgcode .item{margin-top:20px;}
.form-imgcode .item:before,
.form-imgcode .item:after{height:0;content:".";font-size:0;line-height:0;display:block;overflow:hidden;clear:both;}
.form-imgcode .info{position:relative;}
.form-imgcode .info:after{height:0;content:".";font-size:0;line-height:0;display:block;overflow:hidden;clear:both;}
.form-imgcode .u-text{position:relative;float:left;display:inline-block;vertical-align:middle;}
.form-imgcode .u-text input{padding:7px 11px;width:166px;height:24px;border:1px solid #bdbdbd;font-size:14px;line-height:24px;}
.form-imgcode .u-text label{position:absolute;left:0;top:0;z-index:0;margin-left:12px;margin-top:8px;background:#fff;font-size:14px;color:#999;line-height:24px;cursor:text;}
.form-imgcode .u-tips{position:absolute;left:0;top:44px;display:none;font-size:12px;color:#ee1d23;line-height:20px;}
.form-imgcode .u-button{margin-right:8px;display:inline-block;width:84px;height:40px;border:1px solid #e9412d;background:#e9412d;color:#fff;font-size:14px;line-height:38px;text-align:center;vertical-align:top;border-radius:4px;-webkit-transition:all .2s linear;transition:all .2s linear;}
.form-imgcode .u-button:hover{background-color:#ee1d23;text-decoration:none;}
.form-imgcode .u-button.z-disabled{border:1px solid #c8c8c8;background:#c8c8c8;}
.form-imgcode .item-imgcode .u-imgcode{float:left;margin-left:4px;margin-top:3px;width:92px;height:32px;border:1px solid #bdbdbd;cursor:pointer;}
.form-imgcode .item-imgcode .u-replace{float:left;margin-left:4px;font-size:14px;color:#666;line-height:40px;}
.form-imgcode .item-imgcode .u-replace a{color:#ee1d23;}
.form-imgcode .item-button{margin-top:30px;}
.form-imgcode .item-button .u-button-2{border:1px solid #c8c8c8;background:#c8c8c8;}
.m-page{text-align:center;}
.m-page a,.m-page span{margin:0 2px;padding:4px 12px;display:inline-block;height:24px;font-size:14px;color:#333;line-height:24px;text-align:center;vertical-align:top;background:#e0e0e0;border-radius:4px;}
.m-page a:hover{text-decoration:none;color:#fff;background:#e34a4a;}
.m-page .z-active{color:#fff;background:#e34a4a;}
.m-page .z-disable{color:#999;cursor:default;background:#e9e9e9;}
.m-page .z-disable:hover{color:#999;background:#e9e9e9;}